<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <title>Laundromat from Mozilla</title>
</head>

<body>

<h1>Laundromat</h1>


{% if clean %}
<div>
  <h2>You entered:</h2>
  <div>
    {{ clean }}
  </div>
</div>
{% endif %}


<form action="/" method="post">
  <h2>Got some input?</h2>
  <textarea name="input" rows="8" cols="40">{{ clean }}</textarea>
  <input type="submit" value="Try your luck!">
</form>

<p>The rules go here!</p>

</body>
</html>
